.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .spacer {
    flex: 1;
  }

   
    .titlespace{
      margin-left: 1.5rem;
      font-size: 20px;
    }

    

    .example-form{
        margin-top: 6rem;
        margin-left: 40%;
        margin-right: 40%;
        width: 20%;
    }

    .example-full-width {
        width: 100%;
      }
      .submitbtn{
       margin-top: 2rem;
       margin-left: 45%;
        margin-right: 45%;
        width: 10%;
      }
      .example-card {
          margin-top: 2rem;
        margin-left: 35%;
        margin-right: 35%;
      }
      .example-header-image {
        background-image: url('/assets/avatar.jpg');
        background-size: cover;
      }
      mat-card img{
        object-fit: cover; /*this makes the image in src fit to the size specified below*/
        
      }
      .mat-card>:first-child, .mat-card-content>:first-child {
        margin-top: 8px;
    }
    .mat-body p, .mat-body-1 p, .mat-typography p {
        margin: 0 0 6px;
    }
    .arrangement{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;

    }